<p> <%= event.name %> </p>
<p> <%= link_to image_tag("#{event.name.split.first}.jpg", size: "500x700"), event_path(event.id) %>
<p> <%= link_to "Edit", edit_event_path(event.id) %> </p>
<p> <%= link_to "Delete", event, :method => :delete %> </p>
